.material-card {
    margin: 8px;
    width: 100%;
    @include shadow-height(1);
    @include rounded(3px);
}

.search-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    max-width: 225px;
    .top-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        align-self: flex-start;
        justify-self: stretch;

        .image {
            height: 11rem;
            width: 100%;
            overflow: hidden;
        }

        img {
            height: auto;
            width: 100%;
        }

        .details {
            padding: 8px;
            padding-bottom: 4px;

            h2 {
                margin: 0;
            }

            p {
                padding-top: 8px;
            }
        }
    }

    .top-section:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 7px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 535px) {
    .search-result {
        width: 100%;
    }
}
