$color-primary: #448aff;
$color-light: #83b9ff;
$color-dark: #005ecb;

$color-background-active: #448aff1f;
$color-background-selected: #83b9ff14;

$color-font-black: #212121;
$color-font-white: #fafafa;
