@import 'mixins';
@import 'normalize';
@import 'colors';
@import 'text';
@import 'input';
@import 'button';
@import 'card';
@import 'nav';

:focus {
    outline: 0;
}

.content {
    padding-top: $header-height;
    width: 75%;
    margin: 0 auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advanced-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    opacity: 1;
    transition: opacity 2s linear;
}
