@import 'mixins';
@import 'normalize';
@import 'colors';
@import 'text';
@import 'input';
@import 'button';
@import 'card';
@import 'nav';
@import 'dropdown';
@import 'modal';
@import 'bubble';

body {
    background-color: white;
    color: $color-font-black;
}

:focus {
    outline: 0;
}

.content {
    padding-top: $header-height;
    width: 75%;
    margin: 0 auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advanced-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-body {
    overflow: auto;
    .anime-content {
        display: flex;
        flex-direction: row;

        .main-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            padding-left: 8px;

            h4 {
                margin: 0;
                padding-bottom: 8px;
            }

            h6 {
                margin: 0;
                padding-bottom: 8px;
            }

            .description {
                border-top: 1.25px solid #a3a3a3;
                border-bottom: 1.25px solid #a3a3a3;

                padding: 8px 0;
                margin-bottom: 8px;
            }

            .background {
                border-bottom: 1.25px solid #a3a3a3;

                padding: 8px 0;
                margin-bottom: 8px;
            }

            .themes {
                display: flex;
                flex-direction: column;

                .themes-details {
                    display: flex;
                    flex-direction: row;
                    flex-flow: wrap;

                    .opening div {
                        display: flex;
                        flex-flow: wrap;
                    }

                    .closing div {
                        display: flex;
                        flex-flow: wrap;
                    }

                    div {
                        padding-right: 8px;
                        padding-bottom: 8px;
                    }
                }
            }

            .related-anime {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            color: #448aff;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .info {
            padding-bottom: 12px;

            display: flex;
            flex-flow: wrap;

            span {
                margin-right: 4px;
            }
        }

        h5 {
            margin: 0;
            padding-bottom: 8px;
        }

        .header-content {
            max-width: 225px;

            .poster {
                max-width: 225px;
                max-height: 350px;
                padding-right: 8px;
            }
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    opacity: 1;
    transition: opacity 2s linear;
}

@media only screen and (max-width: 425px) {
    .modal-body {
        .anime-content {
            flex-flow: wrap-reverse;
            .main-info {
                .description {
                    max-height: 100%;
                }
            }

            .header-content {
                width: 100%;
                padding-top: 8px;
                display: flex;
                flex-direction: column-reverse;

                .poster {
                    align-self: center;
                }
            }
        }
    }
}
