.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: #21212150;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .modal-container {
        background-color: white;
        color: inherit;

        border-radius: 5px;
        border: none;
        @include shadow-height(3);
        padding: 8px;

        width: 90%;

        display: flex;
        flex-direction: column;

        .modal-header {
            h4 {
                margin: 0;
                margin-bottom: 8px;
            }
        }

        .modal-body {
            p {
                padding-bottom: 8px;
            }
        }

        .modal-footer {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
        }
    }

    .small {
        max-width: 625px;
    }
}
